<div class="title-page" *ngIf="isRoleSuperAdmin || isRoleAdmin">
  <span>
    {{ "users.title" | translate }}
  </span>
</div>
<div class="kt-portlet kt-portlet--mobile" *ngIf="isRoleSuperAdmin || isRoleAdmin">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="fa fa-user"></i>
      </span>
      <span>Số lượng: {{ totalItems }}</span>
    </div>
    <div class="kt-portlet__head-toolbar">
      <app-page-actions (addEmitter)="showAddItemModal()" (deleteEmitter)="deleteMultipleItems()"
        [isAddVisible]="isRoleAdmin || isRoleSuperAdmin" [isDeleteVisible]="isRoleSuperAdmin">
      </app-page-actions>
    </div>
  </div>
  <div class="kt-portlet__body" *ngIf="isRoleSuperAdmin">
    <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
      <div class="row align-items-center">
        <div class="col-xl-12 order-2 order-xl-1">
          <div class="row align-items-md-start">
            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
              <label for="filterName">Tìm theo họ tên</label>
              <input [(ngModel)]="filterUserName" class="form-control" id="filterName" name="filterName" type="text" />
            </div>

            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile text-center">
              <label for="searchButton"> </label>
              <button id="searchButton" type="button" class="
  btn-custom-normal btn btn-brand btn-success
  d-flex
  form-control
  " (click)="getUsers()">
                <i class="fa fa-search"></i>Tìm kiếm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body kt-portlet__body--fit">
    <!--begin: Datatable -->
    <div class="table-responsive" id="scrolling_vertical">
      <table class="table" style="font-size: 13px">
        <thead>
          <tr>
            <th>
              <label class="kt-checkbox" style="margin-left: 5px">
                <input type="checkbox" #checkboxAll (click)="toggleCheckAll(users, checkboxAll.checked)" id="checkAll"
                  [checked]="checkAll" /><span></span>
              </label>
            </th>
            <th style="width: 5%">ID</th>
            <th style="width: 10%">{{ "general.table.action" | translate }}</th>
            <th style="width: 15%">Tên</th>
            <th style="width: 15%">Chức vụ</th>
            <th style="width: 15%">Ảnh đại diện</th>
            <th style="width: 15%">Email</th>
            <th style="width: 15%">Ngày cập nhật</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>
              <label class="kt-checkbox kt-checkbox--single">
                <input type="checkbox" #checkbox (click)="toggleCheckItems(user, checkbox.checked)" id="{{ user.id }}"
                  [checked]="isCheckbox" /><span></span>
              </label>
            </td>
            <td>{{ i + 1 }}</td>
            <td>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-outline-success" (click)="deleteItem(user)"
                  *ngIf="isRoleSuperAdmin">
                  <i class="fa fa-trash"></i>
                </button>
                <button type="button" class="btn btn-outline-success" (click)="showEditItemModal(user)">
                  <i class="fa fa-pen"></i>
                </button>
              </div>
            </td>
            <td>{{ user?.name }}</td>
            <td>{{ user?.kind }}</td>
            <td>
              <img [appImage]="user?.avatar" containerId="images" alt="" style="width: 64px; height: auto" />
            </td>
            <td>{{ user?.email }}</td>
            <td>{{ user.updatedAt | date: "dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="text-align: center">
    <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="PAGE_SIZE" [boundaryLinks]="true"
      (pageChange)="changePage()" [maxSize]="8" class="d-flex justify-content-center">
    </ngb-pagination>
  </div>
</div>
